.option-section {
	.content {
		border: 1px solid #eee;
		overflow: hidden;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all .3s ease-in-out;
	}
	&:hover img {
		transform: scale(1.2);
	}
}

  