/* ---- ESTILOS GENERALES ---- */
body {
  font-family: "Abel", arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  position: relative;
  width: 100%;
}
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.square .content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mantener-alto {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cabecera, .subcabecera {
  background-color: hsl(225deg, 8%, 90%);
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: normal;
  font-size: 2.5rem;
}

.subcabecera {
  font-size: 2rem;
}

a:hover {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.panel {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.panel-color1 {
  background-color: hsl(205deg, 94%, 26%);
}
.panel-color1:hover {
  background-color: #022f4f;
}
.panel-color1:active {
  background-color: #01121e;
}
.panel-color2 {
  background-color: hsl(179deg, 77%, 28%);
}
.panel-color2:hover {
  background-color: #0b5150;
}
.panel-color2:active {
  background-color: #052424;
}
.panel-color3 {
  background-color: hsl(318deg, 94%, 20%);
}
.panel-color3:hover {
  background-color: #310223;
}
.panel-color3:active {
  background-color: black;
}
.panel-color4 {
  background-color: hsl(6deg, 85%, 32%);
}
.panel-color4:hover {
  background-color: #681208;
}
.panel-color4:active {
  background-color: #390a05;
}
.panel-color5 {
  background-color: hsl(48deg, 96%, 45%);
}
.panel-color5:hover {
  background-color: #af8d04;
}
.panel-color5:active {
  background-color: #7d6403;
}
.panel-color6 {
  background-color: hsl(348deg, 98%, 22%);
}
.panel-color6:hover {
  background-color: #3d010d;
}
.panel-color6:active {
  background-color: #0a0002;
}
.panel-color7 {
  background-color: hsl(218deg, 19%, 41%);
}
.panel-color7:hover {
  background-color: #404b5e;
}
.panel-color7:active {
  background-color: #2b3340;
}
.panel-color8 {
  background-color: hsl(326deg, 65%, 52%);
}
.panel-color8:hover {
  background-color: #b12574;
}
.panel-color8:active {
  background-color: #871d59;
}
.panel-color9 {
  background-color: hsl(20deg, 92%, 53%);
}
.panel-color9:hover {
  background-color: #d34c09;
}
.panel-color9:active {
  background-color: #a23a07;
}
.panel-color10 {
  background-color: hsl(225deg, 8%, 90%);
}
.panel-color10:hover {
  background-color: #c8cad0;
}
.panel-color10:active {
  background-color: #acafb9;
}
.panel i {
  font-size: 2rem;
}
.panel h2 {
  font-weight: normal;
}

.mesas .panel {
  font-size: 3rem;
  font-weight: 800;
  padding: 0;
}

.tickets .img-ticket {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  border: 1px solid #eee;
  -o-object-fit: cover;
     object-fit: cover;
}
.tickets .precio-prod {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1;
  width: 70px;
  text-align: right;
}
.tickets .nombre-prod {
  line-height: 1;
}
.tickets .categoria-prod {
  color: #ccc;
  font-style: italic;
}
.tickets .medida-prod {
  font-size: 0.8rem;
  line-height: 0;
}
.tickets .list-group {
  max-height: 550px;
  border: 1px solid #eee;
  overflow-y: auto;
}

.breadcrumb-item {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background: #bbb;
  margin-right: 0.3rem;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;
}
.breadcrumb-item span {
  color: white;
}
.breadcrumb-item a {
  text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  content: "";
}
.breadcrumb-item.active {
  background-color: #999;
}
.breadcrumb-item.active:hover {
  background-color: #999;
}
.breadcrumb-item:hover {
  background-color: #000;
}

.option-section .content {
  border: 1px solid #eee;
  overflow: hidden;
}
.option-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.option-section:hover img {
  transform: scale(1.2);
}

.table > thead {
  background-color: #c9e7ff;
}
.table tr {
  vertical-align: middle;
  text-align: center;
}
.table tr .numero-mesa {
  width: 30%;
  text-align: center;
}
.table tr .ubicacion {
  width: 30%;
  text-align: center;
}
.table tr .comensales {
  width: 30%;
  text-align: center;
}
.table tr .opciones {
  width: 15%;
  text-align: center;
}

.admins th {
  background-color: lightblue;
}
.admins th, .admins td {
  vertical-align: middle;
  text-align: center;
}
.admins .small-admin {
  font-size: 1rem;
  color: #555;
  display: block;
  margin-top: 0.6rem;
}
.admins .sale-icons {
  display: flex;
  justify-content: flex-end;
}
.admins .excel-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.admins .excel-button:hover {
  cursor: pointer;
}
.admins .excel-button svg {
  width: 2rem;
}
.admins .excel-button:hover svg path {
  fill: hsl(121deg, 96%, 26%);
}
.admins .pdf-icon {
  margin: 0 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.admins .pdf-icon:hover {
  cursor: pointer;
}
.admins .pdf-icon svg {
  width: 2rem;
}
.admins .pdf-icon:hover svg path {
  fill: rgb(210, 13, 13);
}/*# sourceMappingURL=estilos.css.map */