.img-ticket {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  border: 1px solid #eee;
}

.precio-prod {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1;
  width: 70px;
  text-align: right;
}

.nombre-prod {
  line-height: 1;
}

body {
  font-family: 'Abel', arial, sans-serif;
}

.categoria-prod {
  color: #ccc;
  font-style: italic;
}

.medida-prod {
  font-size: .8rem;
  line-height: 0;
}

.list-group {
  max-height: 520px;
  overflow-y: scroll;
  border: 1px solid #eee;
}

.mesas {
  font-size: 3rem;
  color: rgba(255,255,255,0.5);
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: inset 0 0 60px rgba(50,50,50,0.6) !important;
}

.titular {
  background-color: rgb(218,222,224);
}

.cat-prod {
  height: 180px;
}

.cat-prod img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
  transition: all .3s ease-in-out;
}

.mesas, .cat-prod {
  border: 0px solid transparent;
  overflow: hidden;
}

.cat-prod:hover img {
  transform: scale(1.2);
}

.breadcrumb-item {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  background: #bbb;
  margin-right: 0.3rem;
  transition: all .3s ease-in-out;
  margin-top: 5px;
}

.breadcrumb-item span {
  color: white;
}

.breadcrumb-item a {
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  content: '';
}

.breadcrumb-item.active {
  background-color: #999;
}

.breadcrumb-item:hover {
  background-color: #000;
}

.breadcrumb-item.active:hover {
  background-color: #999;
}

